
html, body, #container {
  height: 100%;
  font-family: "Amatic SC", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
}

.button {
  font-family: "Amatic SC", sans-serif;
}

[class*="col-"] {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-6 {
    width: 50%
  }
  .col-sm-3 {
    width: 25%;
  }

}

@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-6 {
    width: 50%
  }
  .col-md-3 {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-6 {
    width: 50%
  }
  .col-lg-3 {
    width: 25%;
  }
}

#container {
  width: 100%;
}

#first_div {
  position: relative;
  background-image: url("img/pizza.jpg");
  background-size: cover;
  width: 100%;
  min-height: 90%;
  filter: grayscale(50%);
  display: flex;
  align-items: center;
  text-align: center;

  #inner_div {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;

    margin-right: auto;
    margin-left: auto;
    h1 {
      color: white;
      font-size: 60px;
      font-weight: bold;
      line-height: 1.5;
      margin-top: 0;
    }

    a {
      background-color: black;
      color: white;
      font-size: 36px;
      display: inline-block;
      border: none;
      text-decoration: none;
      padding: 8px 16px;

      &:hover {
        color: black;
        background-color: #ccc;
      }


    }
  }
  .openTime{
    position: absolute;
    bottom: 10px;
    left: 15px;
    background-color: black;
    padding: 8px 16px;
    display: inline-block;

    span{
    font-size: 24px;
      color: #fff;
    }
  }
}

#meniu{
  width: 100%;
  min-height: 90%;
  background-color: black;
  padding-top: 64px;
  padding-left: 15px;
  padding-right: 15px;

  h1{
    color: white;
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 64px;
    text-align: center;
    font-weight: 100;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border: 1px solid grey;

    li {
      float: left;
    }

    a {
      display: block;
      color: white;
      font-size: 36px;
      text-align: center;
      padding: 12px 15px;
      text-decoration: none;

      &:hover, &.active{
        background-color: #f44336;
      }
      }
    }
  .foodList{
    border: 1px solid darkgrey;

  }
  h2{
    color: black;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 74px;
    text-align: center;

  }
  .pizzaList{
    overflow: hidden;
    background-color: white;
    padding: 32px 16px;

    b{
      float: left;
    }

    .price{
      float: right;
      background-color: #616161;
      display: inline-block;
      border-radius: 5px;
      color: white;
      padding-left: 8px;
      padding-right: 8px;
      font-weight: 100;

    }
    p{
      color: #757575;
      font-size: 36px;
      line-height: 1.5;
      display: block;
      margin-top: 32px;
      margin-bottom: 32px;

    }
  }
  }



