
html, body, #container {
  height: 100%;
  font-family: "Amatic SC", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
}

.button {
  font-family: "Amatic SC", sans-serif;
}

[class*="col-"] {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-6 {
    width: 50%
  }
  .col-sm-3 {
    width: 25%;
  }

}

@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-6 {
    width: 50%
  }
  .col-md-3 {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-6 {
    width: 50%
  }
  .col-lg-3 {
    width: 25%;
  }
}

#container {
  width: 100%;
}

#first_div {
  position: relative;
  background-image: url("img/pizza.jpg");
  background-size: cover;
  width: 100%;
  min-height: 90%;
  filter: grayscale(50%);
  display: flex;
  align-items: center;
  text-align: center;

  #inner_div {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;

    margin-right: auto;
    margin-left: auto;
    h1 {
      color: white;
      font-size: 60px;
      font-weight: bold;
      line-height: 1.5;
      margin-top: 0;
    }

    a {
      background-color: black;
      color: white;
      font-size: 36px;
      display: inline-block;
      border: none;
      text-decoration: none;
      padding: 8px 16px;

      &:hover {
        color: black;
        background-color: #ccc;
      }


    }
  }
  .openTime{
    position: absolute;
    bottom: 10px;
    left: 15px;
    background-color: black;
    padding: 8px 16px;
    display: inline-block;

    span{
    font-size: 24px;
      color: #fff;
    }
  }
}

h1{
  color: white;
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 64px;
  text-align: center;
  font-weight: 100;
}

#meniu{
  width: 100%;
  min-height: 90%;
  background-color: black;
  padding: 70px 15px;


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border: 1px solid grey;

    li {
      float: left;
    }

    a {
      display: block;
      color: white;
      font-size: 36px;
      text-align: center;
      padding: 12px 15px;
      text-decoration: none;

      &:hover, &.active{
        background-color: #f44336;
      }
      }
    }
  .foodList{
    border: 1px solid darkgrey;
    max-width: 980px;
    margin: 32px auto;

    hr{
      border: 0;
      border-top: 1px solid #eee;
      margin: 20px 0;
    }
  }
  h2{
    color: black;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 74px;
    text-align: center;

  }
  .pizzaList {
    overflow: hidden;
    background-color: white;
    padding: 32px 16px;

    b{
      float: left;
    }

    .price{
      float: right;
      background-color: #616161;
      display: inline-block;
      border-radius: 5px;
      color: white;
      padding-left: 5px;
      padding-right: 5px;
      font-weight: 100;

    }
    .red{
      background-color: #f44336;
      float: right;
      display: inline-block;
      border-radius: 5px;
      color: white;
      padding-left: 5px;
      padding-right: 5px;
      font-weight: 100;
    }
    .gray{
      background-color: #bbb;
      float: right;
      display: inline-block;
      border-radius: 5px;
      color: white;
      padding-left: 5px;
      padding-right: 5px;
      font-weight: 100;
      margin-right: 50px;

    }
    p{
      color: #757575;
      font-size: 36px;
      line-height: 1.5;
      display: block;
      margin-top: 32px;
      margin-bottom: 32px;

    }
  }
  }

#about{
  width: 100%;
  overflow: hidden;
  background-color: #8b5f5b;
  padding: 64px 16px;
  .info{

    p{
      font-size: 24px;
      color:white;
      line-height: 1.5;
    }
    img{
      width: 150px;
      float: right;
      border-radius: 50%;
    }
    .open{
      width: 100%;
      margin: 16px 0;
      border-style: none;
      border-radius: 0;
    }

  }
  h3{
    color: white;
    font-size: 36px;
    line-height: 1.5;
    display: inline-block;
    margin: 10px 0;
  }
  #opening_hours {
    overflow: hidden;
    margin: 24px 0;

.days {
display: block;


    .daysleft, .daysright {
      float: left;
      display: inline-block;
      p {
        color: #fff;
        font-size: 25px;
        line-height: 1.5;
      }

    }
    }
  }
}

.daysright {
  margin-left: 20px;
}

#contact{
  width: 100%;
  max-width: 980px;
  margin: auto;
  background-color: #607d8b;
  padding: 64px 16px;
  filter: grayscale(50%);

  div{

  p{
    color: #fff;
    font-size: 24px;
    line-height: 1.5;
  }
.reserve{
  color: #fff;
  font-size: 36px;
  line-height: 1.5;
}
  .fyi{
    background-color: black;
    color: white;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 24px;
  }
    form{
      input{
        width: 100%;
        padding: 14px 8px;
        border-style: none;
        font-family: "Amatic SC", sans-serif;
        font-size: 27px;

      }
      button {
        color: #000;
        font-size: 30px;
        background-color: white;
        padding: 8px 8px;
        width: 100%;
        font-family: "Amatic SC", sans-serif;
        border-style: none;
      }
    }
  }

}
footer {
  background-color: black;
  overflow: hidden;
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;

  p, a {
    color: white;
    font-size: 42px;
    display: inline-block;
    margin: 30px 0;

  }
}

$placeholderColor: #ccc;



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
  font-family: "Amatic SC", sans-serif;
  font-size: 27px;
}


::-moz-placeholder { /* Firefox 19+ */
 color: $placeholderColor;
  font-family: "Amatic SC", sans-serif;
  font-size: 27px;
}

:-ms-input-placeholder { /* IE 10+ */
color: $placeholderColor;
  font-family: "Amatic SC", sans-serif;
  font-size: 27px;
}

::-moz-placeholder { /* Firefox 18- */
  color: $placeholderColor;
  font-family: "Amatic SC", sans-serif;
  font-size: 27px;
}

